<h1 class="my-4">Stupid Coach</h1>

<form action="/answer" method="get" data-turbo="false">

  <label for="basic-url" class="form-label">Ask a question, dummy</label>
<div class="input-group p-3">
  <span class="input-group-text" id="basic-addon3">Dumb question --></span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="question">
  <input type="submit" value="Ask!">
</div>

</form>
